body {
  box-sizing: border-box;
  padding-inline: 12px !important;
  margin: 0;

  @include s {
    padding-inline: 48px !important;
  }
}

* {
  margin: 0;
  padding: 0;
}

section {
  max-inline-size: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  color: $gray12;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 40px;
}
